/* 为目标元素添加淡入淡出效果 */
.animation{
    animation-name: animation;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}