.clearfix::after,
.clearfix::before{
  content: "";
  clear: both;
  display: table;
}

.main-container{
    display: flex;
    position: relative;
}

.userdetail-box-title,
.carddetail-box-title{
    font-size: 18px;
    font-weight: bold;
    color: #69606b;
    margin: 3px 0;
}

.userdetail-box{
    /* width: 50%; */
    padding:0 40px;
    margin: 20px 0;
}

.carddetail-box{
    width: 100%;
}

.main-left-box{
    margin-left: 20px;
}

.main-textarea-box{
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 40px;
}

.main-carddetail-box{
    padding: 0 40px;
    margin: 40px 0;
}

.main-chatroom-box{
    padding: 0 40px;
    margin: 40px 0;
}

.recommend-box-title{
    font-size: 18px;
    font-weight: bold;
    color: #69606b;
}

.main-card-box{
    margin-top: 40px;
    padding: 0 40px;
    position: relative;
}
.main-card-inner-box{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    position: absolute;
    /* 这里inner-box的宽度是通过卡片witd和卡片间隙计算 */
    /* 300+300+300+20+20+20 */
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
}
/* 图片仍在加载时的样式 */
.mian-card-loading-box{
    display: flex;
    background-color: green;
}
.main-card-box-textarea-title,
.main-card-box-carddetail-title,
.main-card-box-title{
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #69606b;
    margin: 0;
    margin-top: 20px;
}
.main-card-box-textarea-title{
    margin-bottom: 10px;
}

.cardListItemLoading{
    display: flex;
    flex-wrap: wrap;
}

.loading{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.main-footer{
    width: 100%;
    /* height: 120px; */
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #fddb3a;
}

/* 修改了antd的button */
.more-card-btn{
    border-radius: 30px !important;
    /* border-bottom-left-radius: 30px !important; */
    /* border-top-right-radius: 30px !important; */
    width: 300px;
    position: absolute !important;
}

/* 修改了antd 的 Modal */
.cardDetailModal .ant-modal-content{
    width: 80vw !important;
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px !important;
}
/* 修改了antd 的 Modal */
.cardDetailModal .ant-modal-content .ant-modal-body{
    padding: 0 !important;
}
/* 修改了antd 的 Modal */
.cardDetailModal .ant-modal-content .ant-modal-header{
    border-radius: 10px !important;
}

/* 修改了antd 的 Modal */
.userDetailModal .ant-modal-content{
    /* width: 80vw !important; */
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px !important;
}
/* 修改了antd 的 Modal */
.userDetailModal .ant-modal-content .ant-modal-body{
    padding: 0 !important;
}
/* 修改了antd 的 Modal */
.userDetailModal .ant-modal-content .ant-modal-header{
    border-radius: 10px !important;
}

@media screen and (max-width:1100px){
    .main-card-inner-box{
        position: unset;
        width: unset;
        transform: translate(0);
    }
    .cardListItemLoading{
        display: unset;
    }
    .post-card-loading{
        margin: 20px auto;
    }
}