.yellow-header{
    width: 100vw;
    height: 20vh;
    z-index: -1;
    position: fixed;
    border-radius: 0 0 0 40%;
    background-color: #fddb3a;
}

.main-header{
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.main-header-item{
    flex-grow: 1;
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.main-header-item li{
    flex-basis: 10%;
    list-style: none;
}
.logo{
    width: 40px;
    vertical-align: middle;
}

.web-title{
    margin-left: 20px;
    margin-right: 80px;
}

.web-title span{
    /* font-weight: bold; */
    /* font-size: 16px; */
}
.title{
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
    color: #69606b;
}

.notice-icon{
    font-size: 16px;
}

.notice-icon-rotate{
    animation-name: notice;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes notice{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
}


/* 重写antd */
.header-popover  .ant-popover-content  .ant-popover-arrow{
    /* border-top-color: unset !important;
    border-bottom-color: unset !important;
    border-left-color: unset !important;
    border-right-color: unset !important; */
    /* border-color: #fddb3a !important; */
}
.header-popover p{
    margin: 0;
    color: #69606b;
    margin: 5px 0;
}
.header-popover .ant-popover-content .ant-popover-inner{
    text-align: center;
    border-radius: 10px;
    /* background-color: #fddb3a; */
    cursor: pointer;
    padding: 0;
}
.header-popover .ant-popover-inner .ant-popover-inner-content {
    padding: 5px 8px;
    border-radius: 5px;
    /* background-color: #fddb3a; */
    cursor: pointer;
}

.notice-list{
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 30px #f0f0f0;
    border: 1px solid #f0f0f0;
}

.notice-list img{
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border-radius: 50%;
}
